.home {
	width: 100%;
	display: flex;
	justify-content: center;
}

.album_items_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.home_wrap {
	width: 100%;
	border: 3px solid rgba(0, 0, 0, 0.5);
	margin-top: 2rem;
	display: flex;
}

.albums_category {
	padding: 2rem;
	width: 15%;
	border-right: 0.1rem solid rgba(0, 0, 0, 0.5);
}

.albums_title {
	height: 5rem;
	font-size: 1.5rem;
	font-weight: 800;
	cursor: pointer;
	margin-bottom: 2rem;
}

.albums_ca_items {
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 1rem;
}

.albums_ca_items>img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border: 3px solid red
}

.albums_items {
	flex: 1;
	padding: 2rem;
	display: flex;
}

.albums_search {
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user_name {
	font-size: 1.8rem;
}

.album_des {
	margin-left: 5px;
}

.album_but {
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 55px;
	justify-items: center;
}

.albums_input>input {
	margin-right: 1rem;
	outline: none;
	height: 3rem;
	padding: 0 0.5rem;
}

.albums_input>button {
	height: 3rem;
	padding: 0 1rem;
	cursor: pointer;
}

.albums_items_wrap {
	width: calc(33.33% - 30px);
	margin-right: 30px;
	margin-bottom: 30px;
}

.card {
	width: 150px;
	height: 20rem;
	border: 0.1rem solid rgba(0, 0, 0, 0.2);
	margin: 0 0.5rem;
	margin-bottom: 1rem;
}

.card_img>img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.card_wrap {
	text-decoration: none;
}

.card_title {
	font-size: 1.5rem;
	color: rgba(0, 0, 0, 0.6);
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.detail {
	width: 100%;
	display: flex;
	justify-content: center;
}

.detail_wrap {
	border: 0.1rem solid rgba(0, 0, 0, 0.5);
	margin-top: 2rem;
}

.detail_container {
	padding: 2rem;
}

.detail_img>img {
	width: 600px;
}

.detail_title {
	margin-top: 1rem;
	font-size: 2rem;
}

.comment {
	border-top: 0.1rem solid rgba(0, 0, 0, 0.5);
	padding: 2rem 0;
	font-size: 2rem;
}