.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.login-container button {
  background-color: #3b5998; /* Facebook blue color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-container button:hover {
  background-color: #2e4473; /* Slightly darker Facebook blue color on hover */
}

.login-container button:nth-of-type(2) {
  background-color: #db4437; /* Google red color */
}

.login-container p {
  margin: px 0;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
}

.login-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.form-control label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 95%;
}

.login-button {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.login-button:first-of-type {
  margin-right: 10px;
}

.login-button:hover {
  background-color: #3e8e41; /* Slightly darker green on hover */
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  width: 100%;
}

.login-container div:last-of-type {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-container div:last-of-type a {
  margin-left: 5px;
  color: #4CAF50; /* Green */
  font-weight: bold;
  text-decoration: none;
}

.login-container div:last-of-type a:hover {
  text-decoration: underline;
}